<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfWebRadio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <WpfWebRadio.Properties.Settings>
            <setting name="MyStations" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://mp3stream3.apasf.apa.at:8000/;|Ö1|Image1</string>
                        <string>http://mp3stream2.apasf.apa.at:80/;|Ö Regional|Image2</string>
                        <string>http://mp3stream7.apasf.apa.at:80/;|Ö 3|Image3</string>
                        <string>http://mp3stream1.apasf.apa.at:80/;|FM 4|Image4</string>
                        <string>http://icecast-qmusic.cdp.triple-it.nl/Qmusic_nl_live_96.mp3|Q-Music|Image5</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultCastName" serializeAs="String">
                <value>Büro</value>
            </setting>
        </WpfWebRadio.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>